/*simple background color*/
body {
    background-color: bisque;
}

/* simple code to align to center */
.moveCenter {
    text-align: center;
}

h3 { /*THIS WILL BE THE STORY TEXT FONT AND FONT SIZE*/
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
}





/*testing setup for answer links*/
.answersBox {
    border: 5px solid lightgray;
    position: relative;
}
.answerBox {
    width:15rem;
    height:6rem;
}

.Answer1 {
    position: absolute;
    bottom:0;
    right: 200px;

}
.Answer2 {
    position: relative;
    left: 650px;

}
.Answer3 {
    position:relative;
    left:200px;
}
